.heading-container {
  display: flex;
  cursor: pointer;
}
.heading {
  padding: 5px;
  border: 1px solid black;
}
.tab-body {
  border: 1px solid black;
  height: 300px;
  padding: 5px;
}
.error {
  color: red;
  display: block;
  font-size: 12px;
}
