body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0a192f, #112240);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.progress-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, alpha, 0.2);

    width: 500px;
    text-align: center;
}

h1 {
    color: rgb(243, 224, 81);
    font-size: 2.5rem;
}
.progress-container {
    width: 100%;
    height: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: 3px solid rgba(255, 255, 255, 0.2);
}

.progress-bar {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, #6db9ff, #1e88e5);
    border-radius: 20px;
    transition: width 0.3s ease-in-out;
    box-shadow: 0px 5px 10px rgba(30, 136, 229, 0.5);
}

.percentage {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}
button {
    box-shadow: 0 6px 25px rgba(255, 255, 255, 0.3);
}
button:hover {
    transform: scale(1.08);
    opacity: 0.9;
}
button:disabled {
    background: rgba(255, 255, 255, 0.2);
    cursor: not-allowed;
    transform: none;
}
#start-btn {
    background: #00ab91;
}
#pause-btn {
    background: #b90248;
}
#pause-btn.paused {
    background: #018f2c;
}
#reset-btn {
    background: #9933cc;
}