.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination > span{
  border: 1px solid gray;
  padding: 10px 15px;
  cursor: pointer;
}
.selected_page {
  background-color: rgb(148, 141, 132);
}
.page_disabled {
  opacity: 0;
}